body
{
	background-color: #404040;
	font-family: 'Lato', sans-serif;
}
#container
{
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	color: white;
	text-align: center;
	padding: 5px;
	font-weight: 900;
	font-size: 50px;
}
#menu
{
	background-color: #777777 ;
	width: 1270px;
	height: 36px;
	padding: 5px;
	text-align: center;
	color: white;
	font-size: 23px;
	border-radius: 10px;
}
#content
{
	float: left;
	padding: 20px;
	width: 1060px;
	min-height: 660px;
	background-color: #DDDDDD; 
	margin-top: 25px;
	border-top-left-radius: 15px;
}
#game
{
	float: left;
	padding: 20px;
	width: 1020px;
	min-height: 620px;
	background-color: #CCCCCC;
	border-radius: 10px;
}
.kontener
{
	float: left;
	width: 150px;
	min-height: 150px;
	background-color: gray;
	margin: 28px;
}
#menu_gry
{
	float: left;
	min-height: 620px;
	width: 280px;
}
#addition
{
	float: left;
	padding: 10px;
	width: 160px;
	min-height: 680px;
	background-color: lightgray;
	margin-top: 25px;
	border-top-right-radius: 15px;
}
#footer
{
	clear: both;
	background-color: black;
	color: white;
	text-align: center;
	padding: 6px;
	font-size: 12px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}
ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}
ol > li
{
	float: left;
	width: 208px;
	border-right: 1px dashed #444444;
	opacity: 80;
}
ol > li:hover
{
	background-color: #333333;
}
ol > li:hover > a
{
	color: #C0C0C0;
}
ol > li:first-child
{
	border-left: 1px dashed #444444;
}
ol > li > ul 
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 35px;
	display: none;
}
ol > li:hover > ul 
{
	display: block;
}
ol > li > ul > li
{
	background-color: #777777;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #444444;
}
ol > li > ul > li:hover
{
	background-color: #333333;
}
ol > li > ul > li:hover > a
{
	color: #C0C0C0;
}
.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:26px;
	border:3px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:15px 60px;
	text-decoration:none;
	text-shadow:0px 1px 50px #283966;
	margin-top: 15px;
	margin-bottom: 15px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

@media
only screen and (max-width: 1600px)
{
	#content
	{
		width: 1060px;
		min-height: 596px;
	}

	#addition
	{
		width: 159px;
		min-height: 616px;
	}
	h2
	{
		font-size: 18px;
	}
	#game
	{
		padding: 28px;
		width: 800px;
		min-height: 340px;
	}
	.kontener
	{
		width: 120px;
		min-height: 120px;
		margin: 30px;
	}
	#menu_gry
	{
		min-height: 370px;
		width: 200px;
		margin-right: 50px;
	}
	#logo
	{
		text-align: center;
		padding: 4px;
		font-weight: 800;
		font-size: 30px;
	}
}

@media
only screen and (max-width: 1300px)
{
	#content
	{
		width: 1050px;
		min-height: 456px;
	}

	#addition
	{
		width: 109px;
		min-height: 476px;
	}

	#footer
	{
		width: 1208px;
	}

	#menu
	{
		height: 31px;
		width: 1208px;
	}
	ol
	{
		font-size: 16px;
		height: 30px;
	}
	ol > li
	{
		width: 200px;
	}
	h2
	{
		font-size: 14px;
	}
	#game
	{
		padding: 28px;
		width: 900px;
		min-height: 340px;
	}
	.kontener
	{
		width: 80px;
		min-height: 80px;
		margin: 20px;
	}
	#menu_gry
	{
		min-height: 400px;
		width: 400px;
	}
}

@media
only screen and (max-width: 1200px)
{
	#logo
	{
		text-align: center;
		padding: 1px;
		font-weight: 600;
		font-size: 25px;
	}
	#content
	{
		width: 880px;
		min-height: 396px;
	}

	#addition
	{
		width: 80px;
		min-height: 416px;
	}

	#footer
	{
		width: 1008px;
		height: 6px;
		font-size: 8px;
	}

	#menu
	{
		height: 28px;
		width: 1016px;
		padding: 1px;
	}
	ol
	{
		font-size: 14px;
		height: 20px;
	}
	ol > li
	{
		width: 162px;
	}
	h2
	{
		font-size: 18px;
	}
	#game
	{
		padding: 28px;
		width: 720px;
		height: 250px;
	}
	.kontener
	{
		width: 70px;
		min-height: 70px;
		margin: 19px;
	}
	#menu_gry
	{
		min-height: 400px;
		width: 270px;
	}
}



